<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.java.niuchenhao">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.java.niuchenhao.ASSET_ACCESS"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsContentActivity"
            android:label="@string/title_activity_news_content"
            android:theme="@style/AppTheme" />
        <activity android:name=".ChannelsActivity" />

        <!-- ContentProvider which serves files from this application's asset folder -->
        <!-- Allow the access to only the apps having the same signature for security -->
        <provider
            android:name=".utils.AssetProvider"
            android:authorities="com.java.niuchenhao.shareactionprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.java.niuchenhao.ASSET_ACCESS" />

        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme" />
    </application>

</manifest>